<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898608838519-qcsdf0gqjead5d45u4vltfsnfe955sia.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898608838519-qcsdf0gqjead5d45u4vltfsnfe955sia</string>
	<key>API_KEY</key>
	<string>AIzaSyBpREeoQH9HCYu7CddGSGtG7uj89qQYdPs</string>
	<key>GCM_SENDER_ID</key>
	<string>898608838519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ProteinLog20220313</string>
	<key>PROJECT_ID</key>
	<string>protan-7c89a</string>
	<key>STORAGE_BUCKET</key>
	<string>protan-7c89a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898608838519:ios:1b3010fe52f934841f5372</string>
</dict>
</plist>